<a href="https://colab.research.google.com/github/sabbir2600/AlgorithmLab/blob/master/Week%204%20Lab%20Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating list

In [1]:
m1=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(m1)
m2=[]
print(m2)
m3=list()
print(m3)

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[]
[]

Iterating list

In [2]:

m=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in m:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 python [2, 32, 3]

Iterating list

In [3]:
m=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(m[2])
print(m[6])
print(m[-2])

3
python
python

List operations

In [4]:
m1=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(len(m1))                

m1.append([12,2,12,2])        
print(m1)

m1.insert(2,"pandas")         
print(m1)

m1.remove(3)                 
print(m1)

print(m1.index("python"))     

print(m1.count('pandas'))     

print(m1.reverse())           

m2=m1.copy()                
print(m2)

m1.clear()                    
print(m1)

8
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
6
1
None
[[12, 2, 12, 2], [2, 32, 3], 'python', 43.23, 2.23, 32, 'pandas', 2, 1]
[]

lsit slicing

In [5]:
m=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(m[2:7])
print(m[2:])
print(m[:5])
print(m[:])

[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

list sorting

In [6]:

lst2=[1,2,4,2,4,2,4,2,5,6,7,4]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]
[1, 2, 4, 2, 4, 2, 4, 2, 5, 6, 7, 4]
[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]

creating tuple

In [7]:
m=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(m)
m1=()
print(m1)
m2=tuple()
print(m2)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3])
()
()

Iterating tuple

In [8]:
m0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
for i in m0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 python [2, 32, 3]

Iterating tuple

In [9]:
m0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(m0[2])
print(m0[6])
print(m[-2])

3
python
python

Inserting into tuple

In [10]:
m0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
m0+=("pandas",232,3,232,3)
print(m0)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], 'pandas', 232, 3, 232, 3)

unpacking sequences

In [11]:
m=[5,7,112,33]
a,b,c,d=m
print(a)
print(b)
print(c)
print(d)

5
7
112
33

unpacking sequences

In [12]:
m=(2,3,423,43)
a,b,c,d=m
print(a)
print(b)
print(c)
print(d)

2
3
423
43